In [18]:
import pandas as pd
import numpy as np

In [19]:
path = r'C:\Users\zzsgdsg7\Desktop\site_AQI2021_KNN.csv'
AQI = pd.read_csv(path,index_col='time')
AQI.head()

,1431A,1432A,1433A,1434A,1437A,1438A,1878A,1879A,1880A,1881A,...,2902A,2914A,3027A,3028A,3065A,3136A,3137A,3148A,3182A,3183A
time,,,,,,,,,,,,,,,,,,,,,
2021/1/1 0:00,103.000000,68.000000,65.000000,74.000000,69.000000,85.000000,57.000000,79.000000,77.000000,79.000000,...,120.000000,69.000000,117.0,92.000000,28.000000,64.000000,68.000000,65.000000,73.0,65.000000
2021/1/1 1:00,99.000000,68.000000,72.000000,77.000000,79.000000,90.000000,59.000000,79.000000,83.000000,84.000000,...,85.000000,84.000000,114.0,113.000000,23.000000,67.000000,73.000000,70.000000,65.0,67.000000
2021/1/1 2:00,106.769231,86.076923,94.923077,88.076923,95.230769,90.538462,73.230769,84.615385,100.916667,101.692308,...,81.846154,68.538462,104.0,109.538461,28.461538,85.384615,68.692308,70.222222,65.5,61.846154
2021/1/1 3:00,99.000000,70.000000,90.000000,80.000000,90.000000,88.000000,67.000000,85.000000,95.000000,94.000000,...,63.000000,67.000000,105.0,120.000000,23.000000,70.000000,75.000000,70.000000,64.0,64.000000
2021/1/1 4:00,97.000000,73.000000,108.000000,79.000000,97.000000,89.000000,69.000000,88.000000,97.000000,95.000000,...,72.000000,69.000000,97.0,110.000000,26.000000,73.000000,77.000000,77.000000,60.0,63.000000

In [20]:
def knn_mean(ts, n):#KNN方法处理数据
    out = np.copy(ts)
    for i, val in enumerate(ts):
        if np.isnan(val):#判断值是否是空
            n_by_2 = np.ceil(n/2)
            lower = np.max([0, int(i-n_by_2)])
            upper = np.min([len(ts)+1, int(i+n_by_2)])
            ts_near = np.concatenate([ts[lower:i], ts[i:upper]])
            out[i] = np.nanmean(ts_near)
    return out

In [21]:
for indexs in AQI.columns:
    if indexs =='time':
        continue
    col_null = col_null = AQI[indexs].isnull().sum(axis = 0)
    if col_null < 1100:
        AQI[indexs] = knn_mean(AQI[indexs].values,24)
    if col_null > 1100:
        AQI = AQI.drop(columns = indexs)

In [22]:
AQI.head()

,1431A,1432A,1433A,1434A,1437A,1438A,1878A,1879A,1880A,1881A,...,2902A,2914A,3027A,3028A,3065A,3136A,3137A,3148A,3182A,3183A
time,,,,,,,,,,,,,,,,,,,,,
2021/1/1 0:00,103.000000,68.000000,65.000000,74.000000,69.000000,85.000000,57.000000,79.000000,77.000000,79.000000,...,120.000000,69.000000,117.0,92.000000,28.000000,64.000000,68.000000,65.000000,73.0,65.000000
2021/1/1 1:00,99.000000,68.000000,72.000000,77.000000,79.000000,90.000000,59.000000,79.000000,83.000000,84.000000,...,85.000000,84.000000,114.0,113.000000,23.000000,67.000000,73.000000,70.000000,65.0,67.000000
2021/1/1 2:00,106.769231,86.076923,94.923077,88.076923,95.230769,90.538462,73.230769,84.615385,100.916667,101.692308,...,81.846154,68.538462,104.0,109.538461,28.461538,85.384615,68.692308,70.222222,65.5,61.846154
2021/1/1 3:00,99.000000,70.000000,90.000000,80.000000,90.000000,88.000000,67.000000,85.000000,95.000000,94.000000,...,63.000000,67.000000,105.0,120.000000,23.000000,70.000000,75.000000,70.000000,64.0,64.000000
2021/1/1 4:00,97.000000,73.000000,108.000000,79.000000,97.000000,89.000000,69.000000,88.000000,97.000000,95.000000,...,72.000000,69.000000,97.0,110.000000,26.000000,73.000000,77.000000,77.000000,60.0,63.000000

In [23]:
for indexs in AQI.columns:
    if indexs =='time':
        continue
    col_null = col_null = AQI[indexs].isnull().sum(axis = 0)
    print(indexs,end='-')
    print(col_null)

1431A-0
1432A-0
1433A-0
1434A-0
1437A-0
1438A-0
1878A-0
1879A-0
1880A-0
1881A-0
1882A-0
1883A-0
1884A-0
1885A-0
1886A-0
1888A-0
1889A-0
1890A-0
1891A-0
1893A-0
1894A-0
1895A-0
1896A-0
1901A-0
1902A-0
1904A-0
1905A-0
1906A-0
1907A-0
1908A-0
1909A-0
1910A-0
2523A-0
2524A-0
2526A-0
2527A-0
2528A-0
2529A-0
2530A-0
2531A-0
2532A-0
2533A-0
2534A-0
2535A-0
2536A-0
2537A-0
2538A-0
2539A-0
2540A-0
2543A-0
2544A-0
2545A-0
2547A-0
2548A-0
2549A-0
2550A-0
2551A-0
2552A-0
2554A-0
2555A-0
2556A-0
2561A-0
2562A-0
2563A-0
2564A-0
2565A-0
2566A-0
2567A-0
2568A-0
2570A-0
2571A-0
2572A-0
2573A-0
2574A-0
2575A-0
2835A-0
2880A-0
2902A-0
2914A-0
3027A-0
3028A-0
3065A-0
3136A-0
3137A-0
3148A-0
3182A-0
3183A-0

In [17]:
#输出文件查看
SaveFile_Path = r'C:\Users\zzsgdsg7\Desktop'  # 拼接后要保存的文件路径
SaveFile_Name = r'site_AQI2021_KNN-1.csv'  # 合并后要保存的文件名
#file_save(AQI)
#for indexs in o3.columns:
    #col_null = o3[indexs].isnull().sum(axis = 0)#统计空值单元格的数目
    #if col_null >= 4373:
        #o3 = o3.drop(columns = indexs)
     
AQI.to_csv(SaveFile_Path + '\\' + SaveFile_Name , encoding="utf_8_sig")